<h1><%=results.artist.name%></h1>

<img src="<%= results.artist.image[1]["#text"]%>">

<p><%= results.artist.bio.summary%></p>

<a href="/artists/<%=artist.id%>/toptracks">Top Tracks</a>

<h3>Song Search:</h3>

<form method="GET" action="/artists/<%=artist.id%>/songsearch">
    <input hidden type="text" name="artistId" value="<%= artist.id%>">
    <input type="text" name="name" id="query">
    <input type="submit" id="search-button">

</form>

<h3>Related Artists:</h3>

<ul>

    <% results.artist.similar.artist.forEach(a => { %>

    <li>
    <%= a.name %>    
    </li>

    <% }) %>

</ul>

